<ul class="nav nav-pills nav-justified">
  <li class="active">
      <a  data-toggle="tab" href="#comp_21">開發流程</a></li>
  <li><a  data-toggle="tab" href="#comp_22">開發系統</a></li>
  <li><a  data-toggle="tab" href="#comp_23">管理流程</a></li>
  <li><a  data-toggle="tab" href="#comp_24">管理方法</a></li>
  <li><a  data-toggle="tab" href="#comp_25">工作環境</a></li>

</ul>


<div class="tab-content">
  <div id="comp_21" class="tab-pane fade in active">

    <p><%= render 'shared/anp_factor21'%></p>
  </div>
  <div id="comp_22" class="tab-pane fade ">
      <!-- <h3>comp_22</h3>
      <p>Some content.</p> -->
      <p><%= render 'shared/anp_factor22'%></p>
  </div>
  <div id="comp_23" class="tab-pane fade ">
      <!-- <h3>comp_23</h3>
      <p>Some content.</p> -->
      <p><%= render 'shared/anp_factor23'%></p>
  </div>
  <div id="comp_24" class="tab-pane fade ">
      <!-- <h3>comp_24</h3>
      <p>Some content.</p> -->
      <p><%= render 'shared/anp_factor24'%></p>
  </div>
  <div id="comp_25" class="tab-pane fade ">
      <!-- <h3>comp_25</h3>
      <p>Some content.</p> -->
      <p><%= render 'shared/anp_factor25'%></p> 
  </div>
</div>