<ul class="nav nav-pills nav-justified">
  <li class="active">
      <a  data-toggle="tab" href="#comp_11">需求</a></li>
  <li><a  data-toggle="tab" href="#comp_12">設計</a></li>
  <li><a  data-toggle="tab" href="#comp_13">編碼與單元測試</a></li>
  <li><a  data-toggle="tab" href="#comp_14">整合與測試</a></li>
  <li><a  data-toggle="tab" href="#comp_15">專案的特殊需求</a></li>

</ul>


<div class="tab-content">
  <div id="comp_11" class="tab-pane fade in active">
    <!-- <h3>comp_11</h3>
    <p>Some content.</p> -->
    <p><%= render 'shared/anp_factor11'%></p>
  </div>
  <div id="comp_12" class="tab-pane fade ">
      <!-- <h3>comp_12</h3>
      <p>Some content.</p> -->
      <p><%= render 'shared/anp_factor12'%></p>
  </div>
  <div id="comp_13" class="tab-pane fade ">
      <!-- <h3>comp_13</h3>
      <p>Some content.</p> -->
      <p><%= render 'shared/anp_factor13'%></p>
  </div>
  <div id="comp_14" class="tab-pane fade ">
      <!-- <h3>comp_14</h3>
      <p>Some content.</p> -->
      <p><%= render 'shared/anp_factor14'%></p>
  </div>
  <div id="comp_15" class="tab-pane fade ">
      <!-- <h3>comp_15</h3>
      <p>Some content.</p> -->  
      <p><%= render 'shared/anp_factor15'%></p>   
  </div>
</div>