<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
<% end %>
<% end %>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@project) do |f| %>
        <%= f.label :project_name, "專案名稱" %>
        <%= f.text_field :project_name %>

        <%= f.label :manager_name, "專案管理人" %>
        <%= f.text_field :manager_name %>

        <%= f.label :identify_date, "辨識日期" %>
        <%= f.date_field :identify_date %>

        <%= f.label :scope, "專案規模(功能點)" %>
        <%= f.number_field :scope %>

        <%= f.label :time, "專案時程(月)" %>
        <%= f.number_field :time %>

        <%= f.label :cost, "專案預算(萬元)" %>
        <%= f.number_field :cost %>

        <%= f.label :outsource, "是否委外" %>
        <br>

        <div class="radio-inline">
        <%= f.radio_button :outsource, true  %>
        <%= f.label  :outsource,"是" %>
        </div>
        <br>
        <div class="radio-inline">
        <%= f.radio_button :outsource, false, :checked => true %> 
        <%= f.label :outsource, "否" %>
        </div>
        <br>
        <br>

        
        <%= f.label :member, "專案成員人數" %>
        <%= f.number_field :member %>


        <%= f.submit @project.id ? 'update' : 'Create Project', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>