<!DOCTYPE html>
<html>
<head>
  <title>RiskApp</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="draw();">

    <%= render 'shared/navbar' %>
	<% flash.each do |name, msg| %>
	  <% if msg.is_a?(String) %>
	    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    </div>
	  <% end %>
	<% end %>
    <div class="container theme-showcase">

      
      <%= yield %>


    </div> <!-- /container -->
    
    <style type="text/css">
        #mynetwork {
            width: 600px;
            height: 400px;
            border: 1px solid lightgray;
        }
    </style>
    <script >
    var networkk;
    networkk=function(){
      var edges;
      var nodes = new vis.DataSet(
        gon.tt
            // [{id: 11, label: '需求'},
            // {id: 12, label: '設計'}]
            // {id: 13, label: '編碼與單元測試'},
            // {id: 14, label: '整合與測試'},
            // {id: 15, label: '專案的特殊要求'},
            // {id: 21, label: '開發流程'},
            // {id: 22, label: '開發系統'},
            // {id: 23, label: '管理流程'},
            // {id: 24, label: '管理方法'},
            // {id: 25, label: '工作環境'},
            // {id: 31, label: '資源'},
            // {id: 32, label: '合約'},
            // {id: 33, label: '計畫介面'}
            
        );

        // create an array with edges
        var d= (Math.floor(Math.random() * 100) + 1 )+"%"
        var dd=  (Math.floor(Math.random() * 100) + 1 )+"%"
        var ddd= (Math.floor(Math.random() * 100) + 1 )+"%"
        var dddd= (Math.floor(Math.random() * 100) + 1 )+"%"
        var tt=[
            // {id: '1', from: 12, to: 23,label: d},
            // {id: '2', from: 32, to: 22,label: dd},
            // {id: '3', from: 15, to: 12,label: ddd},
            // {id: '4', from: 23, to: 31,label: dddd},
            // {id: '5', from: 22, to: 12,label: dddd},
            // {id: '6', from: 23, to: 31,label: dddd},
            // {id: '7', from: 11, to: 12,label: "56%"}
            // {id: '8', from: 11, to: 11,label: dd},
            // {id: '9', from: 13, to: 31,label: ddd},
            
            // {id: '13', from: 32, to: 12,label: dddd},
            // {id: '14', from: 31, to: 13,label: ddd},
            // {id: '15', from: 25, to: 14,label: dddd},
            // {id: '16', from: 24, to: 15,label: dd},
            // {id: '17', from: 23, to: 21,label: dddd},

        ];
        edges = new vis.DataSet(
            // tt
            gon.aa
            
        );

        // create a network
        var container = document.getElementById('mynetwork');

        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
           physics:{
               
               stabilization: {
                enabled: true,
                onlyDynamicEdges: false
               }
             },
            edges:{
                arrows: 'to',
                color: '#FF0000',
                font: '12px arial #FF0000',
                scaling:{
                  label: true,
                },
                shadow: true,
                smooth: false
              }
        };

        // initialize your network!
        var network = new vis.Network(container, data, options);
        
    };
    $(document).on('page:change',networkk)
    </script>
</body>
</html>