<!DOCTYPE html>
<html>
<head>
  <title>RiskApp</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="draw();">

    <%= render 'shared/navbar' %>
	<% flash.each do |name, msg| %>
	  <% if msg.is_a?(String) %>
	    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    </div>
	  <% end %>
	<% end %>
    <div class="container theme-showcase">

      
      <%= yield %>


    </div> <!-- /container -->
    
    <style type="text/css">
        #mynetwork {
            width: 700px;
            height: 500px;
            border: 1px solid lightgray;
        }
    </style>
    <script >
    var networkk;
    networkk=function(){
      var edges;
      var nodes = new vis.DataSet(
        gon.tt
        
        );

        // create an array with edges
        
        
        edges = new vis.DataSet(
            
            gon.aa
            
        );

        // create a network
        var container = document.getElementById('mynetwork');

        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
           physics:{
               
               stabilization: {
                enabled: true,
                onlyDynamicEdges: false
               }
             },
            edges:{
                arrows: 'to',
                color: '#FF0000',
                font: '12px arial #FF0000',
                scaling:{
                  label: true,
                },
                shadow: true,
                smooth: true
              }
        };

        // initialize your network!
        var network = new vis.Network(container, data, options);
        
    };
    $(document).on('page:change',networkk)
    </script>
</body>
</html>